<%= form_for @person do |f| %>

  <%= render partial: 'shared/base_errors', locals: { object: @person } %>

  <%= label_or_error f, :name %>
  <%= f.text_field :name, class: '', autofocus: true %>

  <%= label_or_error f, :job_title %>
  <%= f.text_field :job_title, class: '' %>

  <%= label_or_error f, :bio %>
  <%= f.text_area :bio, rows: '3' %>

  <div class="m-y-2">
    <%= f.button 'Save' %>
    <%= link_to 'Cancel', @person, class: 'btn btn-outline-success' %>
  </div>

<% end %>
