<% provide :title, @person.name %>

<%= render partial: 'people_nav' %>

<h6>Job Title</h6>
<p>
  <%= @person.job_title %>
</p>

<h6>Bio</h6>
<p class="m-b-2">
  <%= "#{@person.bio}" %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-success' %>

<%= link_to 'Delete', @person, method: :delete, data:
  { confirm: "Are you sure you want to delete #{@person.name}?" }, class: 'btn btn-secondary' %>
