<!DOCTYPE html>
<html>

  <%= render partial: 'layouts/head' %>

  <body>

    <%= render partial: 'layouts/header' %>

    <div class="container p-y-1">

      <%= render partial: 'layouts/flash' %>
      <%= yield %>

    </div>

    <%= render partial: 'layouts/footer' %>

  </body>

</html>
